{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="container mt-5 form-container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'registro_usuario' %}">
                        {% csrf_token %}
                        <h1 style="color: rgb(225,80,91)">Registro</h1>
                        {{ form.as_p }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block navregistro %}active{% endblock %}
